/.idea/workspace.xml
/.idea/.name
/.idea/vcs.xml
.idea/*.iml_*
/doc/GeneratedDoxyfile
/doc/README.md
/doc/doc
*.cmake
CMakeCache.txt
~*.docx
*.tmp
/vsbuild/
/cmake-build-debug/
/cmake-build-release/
src/include/VulkalcVersion.hpp